.content-container script,

.content-container [class = "ad"],
.content-container [class *= "ads"],
.content-container [class ^= "ad-"],
.content-container [class ^= "ad_"],
.content-container [class *= "-ad-"],
.content-container [class $= "-ad"],
.content-container [class $= "_ad"],
.content-container [class ~= "ad"],

.content-container [class *= "navigation"],
.content-container [class *= "nav"],
.content-container nav,
.content-container [class *= "search"],
.content-container [class *= "menu"],
.content-container [class *= "print"],

.content-container [class *= "nocontent"],
.content-container .hidden,

.content-container [class *= "popup"],

.content-container [class *= "share"],
.content-container [class *= "sharing"],
.content-container [class *= "social"],
.content-container [class *= "follow"],
.content-container [class *= "newsletter"],

.content-container [class *= "meta"],
.content-container [class *= "author"],
.content-container [id *= "author"],

.content-container form,
.content-container [class ^= "form"],
.content-container [class *= "-form-"],
.content-container [class $= "form"],
.content-container [class ~= "form"],

.content-container [class *= "related"],
.content-container [class *= "recommended"],
.content-container [class *= "see-also"],
.content-container [class *= "popular"],
.content-container [class *= "trail"],

.content-container [class *= "comment"],
.content-container [class *= "disqus"],
.content-container [id *= "disqus"],

.content-container [class ^= "tag"],
.content-container [class *= "-tag-"],
.content-container [class $= "-tag"],
.content-container [class $= "_tag"],
.content-container [class ~= "tag"],
.content-container [class *= "-tags-"],
.content-container [class $= "-tags"],
.content-container [class $= "_tags"],
.content-container [class ~= "tags"],
.content-container [id *= "-tags-"],
.content-container [id $= "-tags"],
.content-container [id $= "_tags"],
.content-container [id ~= "tags"],

.content-container [class *= "subscribe"],
.content-container [id *= "subscribe"],
.content-container [class *= "subscription"],
.content-container [id *= "subscription"],

.content-container [class ^= "fav"],
.content-container [class *= "-fav-"],
.content-container [class $= "-fav"],
.content-container [class $= "_fav"],
.content-container [class ~= "fav"],
.content-container [id ^= "fav"],
.content-container [id *= "-fav-"],
.content-container [id $= "-fav"],
.content-container [id $= "_fav"],
.content-container [id ~= "fav"],
.content-container [class *= "favorites"],
.content-container [id *= "favorites"],

.content-container [class *= "signup"],
.content-container [id *= "signup"],
.content-container [class *= "signin"],
.content-container [id *= "signin"],
.content-container [class *= "signIn"],
.content-container [id *= "signIn"],

.content-container footer,
.content-container [class *= "footer"],
.content-container [id *= "footer"],


.content-container svg[class *= "pinterest"],
.content-container [class *= "pinterest"] svg,
.content-container svg[id *= "pinterest"],
.content-container [id *= "pinterest"] svg,
.content-container svg[class *= "pinit"],
.content-container [class *= "pinit"] svg,
.content-container svg[id *= "pinit"],
.content-container [id *= "pinit"] svg,
.content-container svg[class *= "facebook"],
.content-container [class *= "facebook"] svg,
.content-container svg[id *= "facebook"],
.content-container [id *= "facebook"] svg,
.content-container svg[class *= "github"],
.content-container [class *= "github"] svg,
.content-container svg[id *= "github"],
.content-container [id *= "github"] svg,
.content-container svg[class *= "twitter"],
.content-container [class *= "twitter"] svg,
.content-container svg[id *= "twitter"],
.content-container [id *= "twitter"] svg,
.content-container svg[class *= "instagram"],
.content-container [class *= "instagram"] svg,
.content-container svg[id *= "instagram"],
.content-container [id *= "instagram"] svg,
.content-container svg[class *= "tumblr"],
.content-container [class *= "tumblr"] svg,
.content-container svg[id *= "tumblr"],
.content-container [id *= "tumblr"] svg,
.content-container svg[class *= "youtube"],
.content-container [class *= "youtube"] svg,
.content-container svg[id *= "youtube"],
.content-container [id *= "youtube"] svg,
.content-container svg[class *= "codepen"],
.content-container [class *= "codepen"] svg,
.content-container svg[id *= "codepen"],
.content-container [id *= "codepen"] svg,
.content-container svg[class *= "dribble"],
.content-container [class *= "dribble"] svg,
.content-container svg[id *= "dribble"],
.content-container [id *= "dribble"] svg,
.content-container svg[class *= "soundcloud"],
.content-container class *= "soundcloud"] svg,
.content-container svg[id *= "soundcloud"],
.content-container [id *= "soundcloud"] svg,
.content-container svg[class *= "rss"],
.content-container [class *= "rss"] svg,
.content-container svg[id *= "rss"],
.content-container [id *= "rss"] svg,
.content-container svg[class *= "linkedin"],
.content-container [class *= "linkedin"] svg,
.content-container svg[id *= "linkedin"],
.content-container [id *= "linkedin"] svg,
.content-container svg[class *= "vimeo"],
.content-container [class *= "vimeo"] svg,
.content-container svg[id *= "vimeo"],
.content-container [id *= "vimeo"] svg,
.content-container svg[class *= "email"],
.content-container [class *= "email"] svg,
.content-container svg[id *= "email"],
.content-container [id *= "email"] svg {
    display: none;
}

.entry-content.entry-content,
pre * { display: initial !important; }
