* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, .flex-container, .editor { 
    height: 100%; 
}
body {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}
h1 {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 13px;
}
h1 i {
    color: #27AAE1;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
body, .editor-container {
    display: flex;
    flex-direction: column;
}

.left-column {
    display: flex;
    flex-direction: column;

    max-width: 250px;
    margin-right: 50px;
    border: 1px solid;
    padding: 8px;
    white-space: nowrap;
}
.stylesheets {
    padding-left: 0px;
    margin-bottom: 0;
}
.stylesheets li {
    cursor: pointer;
    list-style: none;
    padding-bottom: 3px;
}
.stylesheets li input {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}
.stylesheets .active {
    background: lightblue;
}
.stylesheets .used {
    font-weight: bold;
    font-style: italic;
}
.stylesheets .locked {
    color: grey;
}

.left-column h4 {
    margin-top: 20px;
    margin-bottom: 5px;
}
#domainList {
    width: 100%;
    flex-grow: 1;
    resize: none;
}

.controls-container {
    margin-bottom: 10px;
}
.editor-container, .editor {
    flex-grow: 2;
}

.editor { 
    position: relative; 
    border: 1px solid;
    overflow: auto;
}


.view-other-stylesheets {
    margin-top: 7px;
}


#css-editor {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 5px;
    margin-top: 0;
}

#save { 
    position: relative;
}
#save::before {
    content: "Saved!";
    position: absolute;
    left: 50%;
    margin-left: -29px;
    bottom: 180%;
    padding: 6px 8px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    opacity: 0;
    height: 0;
}
#save.saved::before {
    -webkit-animation: fadeInAndOut 2s forwards;
    animation: fadeInAndOut 2s forwards;
}

@media (max-width: 600px) {
    body {
        padding-top: 0px;
    }
    
    .flex-container {
        flex-direction: column;
    }

    .left-column {
        margin-bottom: 10px;
    }

    #css-editor {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@-webkit-keyframes fadeInAndOut {
    0%, 100% { 
        height: auto;
        opacity: 0;
        -webkit-transform: translateY(30px);
    }
    
    10%, 90% { 
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
}

@keyframes fadeInAndOut {
    0%, 100% { 
        height: auto;
        opacity: 0;
        transform: translateY(30px);
    }
    
    10%, 90% { 
        opacity: 1;
        transform: translateY(0px);
    }
}