.simple-no-scroll,
.simple-no-scroll body {
    transform: none !important;
    padding: 0;
    margin: 0;
}
.simple-no-scroll, 
.simple-no-scroll * {
    overflow: hidden !important;
}

#simple-article#simple-article {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    background: white;
    border: none;

    overflow: auto;
    z-index: 9999999999;

    box-sizing: border-box;

    transform: translateY(0);

    transition: .5s;

    opacity: 1;
}

#simple-article#simple-article.simple-fade-up {
    transform: translateY(100px);

    transition: .3s;

    opacity: 0;
}

.no-trans { -webkit-transition: none !important; transition: none !important; }

.dg { z-index: 99999999999 !important; height: auto !important; }
.simple-no-scroll .dg { overflow: visible !important; }
.dg .cr.string:not(.color) input { float: none; }
.dg.main .close-button.close-button {
    bottom: -41px;
    border-top: 1px solid grey; 
}
.dg.main .close-button.saveAndClose { bottom: -20px; }