.simple-no-scroll, 
.simple-no-scroll * {
    overflow: hidden !important;
}

#simple-article#simple-article {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    background: white;
    border: none;

    overflow: auto;
    z-index: 9999999999;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transform: translateY(0);
    transform: translateY(0);

    -webkit-transition: .5s;
    transition: .5s;

    opacity: 1;
}

#simple-article#simple-article.simple-fade-up {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);

    -webkit-transition: .3s
    transition: .3s;

    opacity: 0;
}

.no-trans { -webkit-transition: none !important; transition: none !important; }

.dg { z-index: 99999999999 !important; height: auto !important; }
.simple-no-scroll .dg { overflow: visible !important; }
