.simple-container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 20px;
}

.simple-control {
    position: fixed;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;

    color: black;
    fill: black;
    opacity: 0.3;
}
.simple-control:hover {
    opacity: 1;
}

.simple-close {
    top: 10px;
    right: 8px;
    font-size: 25px;

    background: none;
    border: 1px solid black;
}

.simple-print,
.simple-edit-theme {
    width: 40px;
    height: 40px;
    top: 10px;
    right: 55px;
    
    border: 0;
    background: none;
    font-size: 0; /* Hide the print text */
}
.simple-print svg,
.simple-edit-theme svg {
    width: 100%;
    height: 100%;
}

.simple-edit-theme {
    right: 105px;
}

.simple-edit {
    width: 30px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 100%;
    padding-left: 10px;
    cursor: pointer;

    display: none;
}

.simple-date .simple-edit {
    left: auto;
    padding-left: 0;
    right: 100%;
    padding-right: 10px;
}

.simple-title .simple-edit {
    top: 25px;
}

.simple-meta > * {
    position: relative;
}
.simple-date:hover .simple-edit,
.simple-author:hover .simple-edit,
.simple-title:hover .simple-edit {
    display: block;
}

.simple-ext-info {
    text-align: center;
    border-top: 1px solid black;
    padding-top: 28px;
}

.simple-viewed-using {
    margin-bottom: 0;
}

.simple-bug-reporter {
    margin-top: 0;
    font-size: 12px;
}
.simple-bug-reporter a[href] {
    color: #282828;
    opacity: 0.5;
}
.simple-bug-reporter a[href]:hover {
    color: #282828;
    opacity: 1;
}

@media (max-width: 750px) {
    .simple-container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 450px) {
    .simple-container {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media print {
    .simple-control,
    .simple-bug-reporter {
        display: none;
    }
    @page :first { margin-top: 0; }
}


/* For the element deletion feature */
.hovered,
.hovered *:not(.simple-close):not(.simple-print) {
    cursor: pointer !important;
    color: black !important;
    background-color: #ff5050 !important;
}

/* For the GUI theme editor */
.saturation-field { margin-right: 1px !important; }
